/* CSS class: .container ~ can apply to multiple elements in the html code*/
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .inlineContainer-picture {
        width: 25%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
    }

    .inlineContainer-text {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: inline-block;
    }

    .picture {
        width: 200px;
        height: auto;
        margin: 10px; 
    }

    .profilePicture {
        width: 200px;
        height: auto;
        margin: 10px; 
        border-radius: 50%;
    }

    /* CSS ID: #tiktok ~ this only applies to one element in the html code*/ 
    #tiktok {
        color: blue;
    }
    #tiktok:hover {
        color: red;
    }
